{% extends 'base.html' %}

{% block title %} Analysis transactions {% endblock %}

{% block content %}

<h1>Analysis transactions</h1>
    <h3>Discover address</h3>
    <p>{{ analysis.detect_address }}</p>
    <h3>Using Mixins</h3>
    <p>{{ analysis.detect_mixers }}</p>
    <h3>Suspicious transaction</h3>
        <table border="1">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in analysis.suspicious_transactions %}
                <tr>
                    <td>{{ transaction.transaction_id }}</td>
                    <td>{{ transaction.from }}</td>
                    <td>{{ transaction.to }}</td>
                    <td>{{ transaction.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
